* {
    box-sizing:border-box;
    padding:0;
    margin:0;
}

.row {
    margin:25px;
    -webkit-columns:2;
    -moz-columns:2;
    columns:2;
    column-gap:25px;
    gap:25px;
    height:100%;
}

.dynamic-column, .static-column {
    overflow:hidden;
    padding: 0px;
    height:100%;
}
